h1,
h3 {
    text-align: center;
}

.btn-border {
    font-size: larger;
    border-radius: 10px;
    color: white;
    background: black;
}

.btn-border:hover {
    border-radius: 10px;
    color: black;
    background: white;
}

.digit-box {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    margin: 25px;
}

form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.itemArea {
    display: flex;
    justify-content: center;
}

button{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;

}
input[type="submit"] {
    vertical-align: middle;
    height: 50px;
    margin: 40px;
    font-size: 16px;
    cursor: pointer;
}

table {
    width: 100%;
    margin: 10 auto;
}

th,
td {
    text-align: center;
}

th {
    background-color: gray;
    color: white;
}